<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pessoa')}">
<body>
	<table id="pessoa" class="table table-striped">
		<thead>
			<tr>
				<th colspan=2><div align="center">Informações da Pessoa</div></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="Id" />
				<td th:text="${pessoa.id}" />
			</tr>
			<tr>
				<td th:text="Nome" />
				<td th:text="${pessoa.nome}" />
			</tr>
			<tr>
				<td th:text="Endereço" />
				<td th:text="${pessoa.endereco}" />
			</tr>
			<tr>
				<td th:text="Cidade" />
				<td th:text="${pessoa.cidade}" />
			</tr>
			<tr>
				<td th:text="Telefone" />
				<td th:text="${pessoa.telefone}" />
			</tr>
			
		</tbody>
	</table>
</body>
</html>
